#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [6]:
import sqlalchemy as db
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [7]:
engine = db.create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')
print("Connected to server!")

Connected to server!

#### 4. Import the users table

In [8]:
%%time

query1= 'SELECT * FROM users'

df1 = pd.read_sql_query(query1, engine)

CPU times: user 1.62 s, sys: 47.9 ms, total: 1.67 s
Wall time: 4.34 s

#### 5. Rename Id column to userId

In [10]:
df1.columns

df1=df1.rename(columns={'Id':'userId'})

df1.columns

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 6. Import the posts table.

In [11]:
query2='SELECT * FROM posts'

df2= pd.read_sql_query(query2, engine)

df2.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 7. Rename Id column to postId and OwnerUserId to userId

In [12]:
df2=df2.rename(columns={'Id':'postId','OwnerUserId':'userId'})

df2.columns

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [13]:
newdf1=df1[['userId', 'Reputation','Views','UpVotes','DownVotes']]

newdf2=df2[['postId', 'Score','userId','ViewCount','CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [14]:
df3=pd.merge(newdf1, newdf2, on='userId')

df3.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [15]:
null_cols = df3.isnull().sum()

null_cols

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [16]:
print(df3.shape)
# First of all, I woul clean the table as much as I can in order to reduce the number of null values on the table
df3.drop_duplicates()

# Since the number of rows is 90584, I would ignore columns with null values bigger than 85000
# Since thats not the case and we only have a column with 48396 null values, I would set null values on ViewCount = 0

df3=df3.fillna(0)

df3.isnull().sum()

(90584, 9)

userId          0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
postId          0
Score           0
ViewCount       0
CommentCount    0
dtype: int64

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [18]:
df3['userId']=df3['userId']+4

df3

#Sum 2 to userId in order to have all userIds positive ints

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,1,1,0,5007,1920,2175,0,0.0,0
1,1,1,0,5007,1920,8576,0,0.0,0
2,1,1,0,5007,1920,8578,0,0.0,0
3,1,1,0,5007,1920,8981,0,0.0,0
4,1,1,0,5007,1920,8982,0,0.0,0
...,...,...,...,...,...,...,...,...,...
90579,55736,1,0,0,0,115352,0,16.0,0
90580,55740,11,0,0,0,115360,2,40.0,4
90581,55744,6,0,0,0,115366,1,17.0,0
90582,55746,6,1,0,0,115370,1,13.0,2
90583,55748,106,1,0,0,115376,1,5.0,2

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.